# LaTeX files
*.aux
*.log
*.pdf
*.synctex.gz
*.bbl
*.bcf
*.blg
*.toc
*.fdb_latexmk
*.fls
*.run.xml

# Beamer files
*.nav
*.snm

# graphics files
graphics/*
*.png

# MATLAB files
*.mat
*.fig
*.m~

# all data files
data/*

# Other
*.txt
*.DS_Store
*.zip
*.pptx
